footer
  .gridContainer
    .infoLine
      .categories
        p.title Категории
        .catBlocks
          ul
            li
              a(href="#" alt="#") букеты
            li
              a(href="#" alt="#") авторские букеты
            li
              a(href="#" alt="#") розы
            li
              a(href="#" alt="#") цветы
            li
              a(href="#" alt="#") композиции
          ul.second
            li
              a(href="#" alt="#") скандинавский стиль
            li
              a(href="#" alt="#") подарки
            li
              a(href="#" alt="#") свадебные букеты
            li
              a(href="#" alt="#") горшечные растения
      .forClients
        p.title Клиентам
        ul
          li
            a(href="#" alt="#") новости
          li
            a(href="#" alt="#") доставка
          li
            a(href="#" alt="#") оплата
          li
            a(href="#" alt="#") контакты
      .contacts
        p.title Контакты 
        .contBlocks
          ul
            li
              a.spriteNumber.landline(href="tel:+38(044)4289865") +38 (044) 428 98 65
            li
              a.spriteNumber.lifecell(href="tel:+38(063)4289865") +38 (063) 428 98 65
            li
              a.spriteNumber.vodafone(href="tel:+38(099)4289865") +38 (099) 428 98 65
            li
              a.spriteNumber.kyivstar(href="tel:+38(097)4289865") +38 (097) 428 98 65
          ul.second
            li.spriteAdress.mail flowershop@gmail.com
            li.spriteAdress.adress Украина, Харьков, ул.Гайдая 21
    .hrefLine
      ul
        li
          a.spriteHref.vk(href="#" alt="#") 
        li
          a.spriteHref.ok(href="#" alt="#")
        li
          a.spriteHref.face(href="#" alt="#")
        li
          a.spriteHref.inst(href="#" alt="#")
        li
          a.spriteHref.ln(href="#" alt="#")
        li
          a.spriteHref.twit(href="#" alt="#")
        li
          a.spriteHref.pint(href="#" alt="#")
    .lastLine
      p © 2018. FlowerShop. Все права защищены
