header
  .gridContainer
    .headLine
      .phones
        .left.block
          a.phones__number.spriteNumber.landline(href="tel:+38(044)4289865") +38 (044) 428 98 65
          a.phones__number.spriteNumber.lifecell(href="tel:+38(063)4289865") +38 (063) 428 98 65
        .right.block
          a.phones__number.spriteNumber.vodafone(href="tel:+38(099)4289865") +38 (099) 428 98 65
          a.phones__number.spriteNumber.kyivstar(href="tel:+38(097)4289865") +38 (097) 428 98 65
      a.logo(href="#" alt="logo")
        img(src="assets/img/logo.png" alt="logo")
      .basketAndLang
        a.basket(href="#" alt="корзина")
          p.basket__name Корзина
          p.basket__amount 22 товара на 22 400грн.
        button Рус
    .navLine
      nav.navigation
        ul.navigation__item.dropDown каталог товаров
        a.navigation__item(href="#" alt="#") Новости
        a.navigation__item(href="#" alt="#") Доставка
        a.navigation__item(href="#" alt="#") Оплата
        a.navigation__item(href="#" alt="#") Контакты
        
        
  
            
